# -----------------------------
# Terraform
# -----------------------------
.terraform/
.terraform.lock.hcl

*.tfstate
*.tfstate.*
crash.log

# Terraform plan files
*.tfplan

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc

# -----------------------------
# Sensitive files
# -----------------------------
*.tfvars
*.tfvars.json

# If you keep secrets locally
secrets.auto.tfvars

# -----------------------------
# Environment files
# -----------------------------
.env
.env.*

# -----------------------------
# OS / Editor files
# -----------------------------
.DS_Store
Thumbs.db

# VS Code
.vscode/

# IntelliJ / JetBrains
.idea/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Misc
# -----------------------------
*.bak
*.tmp